In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


df_feb = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-02.parquet')
df_mar = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-03.parquet')
df_apr = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-04.parquet')
df_may = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-05.parquet')
df_jun = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-06.parquet')

In [2]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-01.parquet')

In [3]:
#frames = [df_jan,df_feb,df_mar,df_apr,df_mar]

In [17]:
df['tpep_dropoff_dt'] = pd.to_datetime(df.tpep_dropoff_datetime)
df['tpep_pickup_dt'] = pd.to_datetime(df.tpep_pickup_datetime)

In [18]:
df['duration'] = df.tpep_dropoff_dt - df.tpep_pickup_dt

In [19]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration,tpep_dropoff_dt,tpep_pickup_dt
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,...,3.00,0.0,1.0,18.00,2.5,0.0,0.00,0 days 00:08:21,2025-01-01 00:26:59,2025-01-01 00:18:38
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,...,2.02,0.0,1.0,12.12,2.5,0.0,0.00,0 days 00:02:33,2025-01-01 00:35:13,2025-01-01 00:32:40
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,...,2.00,0.0,1.0,12.10,2.5,0.0,0.00,0 days 00:01:57,2025-01-01 00:46:01,2025-01-01 00:44:04
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,...,0.00,0.0,1.0,9.70,0.0,0.0,0.00,0 days 00:05:34,2025-01-01 00:20:01,2025-01-01 00:14:27
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,...,0.00,0.0,1.0,8.30,0.0,0.0,0.00,0 days 00:03:32,2025-01-01 00:25:06,2025-01-01 00:21:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3475221,2,2025-01-31 23:01:48,2025-01-31 23:16:29,NaN,3.35,NaN,None,79,237,0,...,0.00,0.0,1.0,20.60,NaN,NaN,0.75,0 days 00:14:41,2025-01-31 23:16:29,2025-01-31 23:01:48
3475222,2,2025-01-31 23:50:29,2025-02-01 00:17:27,NaN,8.73,NaN,None,161,116,0,...,0.00,0.0,1.0,32.89,NaN,NaN,0.75,0 days 00:26:58,2025-02-01 00:17:27,2025-01-31 23:50:29
3475223,2,2025-01-31 23:26:59,2025-01-31 23:43:01,NaN,2.64,NaN,None,144,246,0,...,0.00,0.0,1.0,19.66,NaN,NaN,0.75,0 days 00:16:02,2025-01-31 23:43:01,2025-01-31 23:26:59
3475224,2,2025-01-31 23:14:34,2025-01-31 23:34:52,NaN,3.16,NaN,None,142,107,0,...,0.00,0.0,1.0,22.30,NaN,NaN,0.75,0 days 00:20:18,2025-01-31 23:34:52,2025-01-31 23:14:34
3475225,2,2025-01-31 23:56:42,2025-02-01 00:07:27,NaN,2.29,NaN,None,237,238,0,...,0.00,0.0,1.0,16.09,NaN,NaN,0.00,0 days 00:10:45,2025-02-01 00:07:27,2025-01-31 23:56:42

In [20]:
# calculate trip duration in minutes: 
df.duration = df.duration.apply(lambda td: td.total_seconds()/60)

In [21]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration,tpep_dropoff_dt,tpep_pickup_dt
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,...,3.00,0.0,1.0,18.00,2.5,0.0,0.00,8.350000,2025-01-01 00:26:59,2025-01-01 00:18:38
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,...,2.02,0.0,1.0,12.12,2.5,0.0,0.00,2.550000,2025-01-01 00:35:13,2025-01-01 00:32:40
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,...,2.00,0.0,1.0,12.10,2.5,0.0,0.00,1.950000,2025-01-01 00:46:01,2025-01-01 00:44:04
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,...,0.00,0.0,1.0,9.70,0.0,0.0,0.00,5.566667,2025-01-01 00:20:01,2025-01-01 00:14:27
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,...,0.00,0.0,1.0,8.30,0.0,0.0,0.00,3.533333,2025-01-01 00:25:06,2025-01-01 00:21:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3475221,2,2025-01-31 23:01:48,2025-01-31 23:16:29,NaN,3.35,NaN,None,79,237,0,...,0.00,0.0,1.0,20.60,NaN,NaN,0.75,14.683333,2025-01-31 23:16:29,2025-01-31 23:01:48
3475222,2,2025-01-31 23:50:29,2025-02-01 00:17:27,NaN,8.73,NaN,None,161,116,0,...,0.00,0.0,1.0,32.89,NaN,NaN,0.75,26.966667,2025-02-01 00:17:27,2025-01-31 23:50:29
3475223,2,2025-01-31 23:26:59,2025-01-31 23:43:01,NaN,2.64,NaN,None,144,246,0,...,0.00,0.0,1.0,19.66,NaN,NaN,0.75,16.033333,2025-01-31 23:43:01,2025-01-31 23:26:59
3475224,2,2025-01-31 23:14:34,2025-01-31 23:34:52,NaN,3.16,NaN,None,142,107,0,...,0.00,0.0,1.0,22.30,NaN,NaN,0.75,20.300000,2025-01-31 23:34:52,2025-01-31 23:14:34
3475225,2,2025-01-31 23:56:42,2025-02-01 00:07:27,NaN,2.29,NaN,None,237,238,0,...,0.00,0.0,1.0,16.09,NaN,NaN,0.00,10.750000,2025-02-01 00:07:27,2025-01-31 23:56:42

In [22]:
df.duration.describe()

count    3.475226e+06
mean     1.501812e+01
std      3.871358e+01
min     -5.147232e+04
25%      7.283333e+00
50%      1.170000e+01
75%      1.833333e+01
max      5.626317e+03
Name: duration, dtype: float64

In [34]:
df_positive = df[(df['duration'] > 0) & (df['duration'] < 1440)]

In [35]:
df_positive.duration.describe()

count    3.473155e+06
mean     1.502574e+01
std      2.609851e+01
min      1.666667e-02
25%      7.283333e+00
50%      1.170000e+01
75%      1.835000e+01
max      1.439867e+03
Name: duration, dtype: float64

In [42]:
df_positive = df_positive.copy()
df_positive['fare_per_mile'] = df_positive['fare_amount'].astype(float) / df_positive['trip_distance'].astype(float)

In [43]:
df_positive.fare_per_mile

0           6.250000
1          10.200000
2           8.500000
3          13.846154
4           8.787879
             ...
3475221     4.731343
3475222     3.223368
3475223     5.647727
3475224     5.553797
3475225     5.279476
Name: fare_per_mile, Length: 3473155, dtype: float64

In [ ]:
# Show how fares are distributed 
# if it's too little, the distance might be an outlier
sns.displot(df_positive.fare_per_mile)

plt.show()

In [30]:
# Find the 20 longest trips
df.nlargest(20,'duration')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration,tpep_dropoff_dt,tpep_pickup_dt
1858816,2,2025-01-21 12:23:41,2025-01-25 10:10:00,1.0,6.55,1.0,N,70,70,2,...,0.0,0.00,-1.0,-36.45,0.0,-1.75,0.00,5626.316667,2025-01-25 10:10:00,2025-01-21 12:23:41
1858817,2,2025-01-21 12:23:41,2025-01-25 10:10:00,1.0,6.55,1.0,N,70,129,2,...,0.0,0.00,1.0,36.45,0.0,1.75,0.00,5626.316667,2025-01-25 10:10:00,2025-01-21 12:23:41
414374,2,2025-01-06 02:12:11,2025-01-09 13:54:19,1.0,91.51,1.0,N,218,193,2,...,0.0,0.00,1.0,339.40,0.0,0.00,0.00,5022.133333,2025-01-09 13:54:19,2025-01-06 02:12:11
2460536,2,2025-01-27 11:58:55,2025-01-30 09:42:55,1.0,0.00,1.0,N,207,226,2,...,0.0,0.00,1.0,4.50,0.0,0.00,0.00,4184.000000,2025-01-30 09:42:55,2025-01-27 11:58:55
898201,2,2025-01-11 08:04:00,2025-01-13 16:49:28,1.0,0.04,2.0,N,132,226,2,...,0.0,0.00,1.0,76.50,2.5,1.75,0.75,3405.466667,2025-01-13 16:49:28,2025-01-11 08:04:00
2147536,2,2025-01-24 07:07:21,2025-01-26 10:09:44,1.0,0.00,1.0,N,207,142,2,...,0.0,0.00,1.0,4.50,0.0,0.00,0.00,3062.383333,2025-01-26 10:09:44,2025-01-24 07:07:21
85681,2,2025-01-02 09:40:31,2025-01-04 09:37:01,1.0,0.00,1.0,N,193,181,2,...,0.0,0.00,1.0,4.50,0.0,0.00,0.00,2876.500000,2025-01-04 09:37:01,2025-01-02 09:40:31
1536147,2,2025-01-17 16:45:49,2025-01-19 16:40:59,1.0,1.98,1.0,N,229,265,2,...,0.0,0.00,1.0,20.05,2.5,0.00,0.75,2875.166667,2025-01-19 16:40:59,2025-01-17 16:45:49
556772,2,2025-01-07 18:07:33,2025-01-09 16:12:05,1.0,1.86,1.0,N,265,141,2,...,0.0,0.00,1.0,51.80,0.0,0.00,0.00,2764.533333,2025-01-09 16:12:05,2025-01-07 18:07:33
3417048,2,2025-01-29 21:39:23,2025-01-31 16:48:43,NaN,7.52,NaN,None,231,193,0,...,0.0,0.00,1.0,35.77,NaN,NaN,0.75,2589.333333,2025-01-31 16:48:43,2025-01-29 21:39:23
55016,2,2025-01-01 17:49:26,2025-01-03 11:15:10,1.0,0.66,1.0,N,164,252,2,...,0.0,0.00,1.0,11.20,2.5,0.00,0.00,2485.733333,2025-01-03 11:15:10,2025-01-01 17:49:26
2029659,2,2025-01-23 01:11:23,2025-01-24 17:30:28,1.0,2.93,1.0,N,148,91,2,...,0.0,0.00,1.0,19.25,2.5,0.00,0.75,2419.083333,2025-01-24 17:30:28,2025-01-23 01:11:23
456243,2,2025-01-06 16:11:55,2025-01-08 07:35:19,1.0,6.93,1.0,N,138,121,2,...,0.0,0.00,1.0,38.95,0.0,1.75,0.00,2363.400000,2025-01-08 07:35:19,2025-01-06 16:11:55
2745903,2,2025-01-30 11:24:49,2025-01-31 16:31:32,1.0,0.00,1.0,N,207,216,2,...,0.0,0.00,1.0,4.50,0.0,0.00,0.00,1746.716667,2025-01-31 16:31:32,2025-01-30 11:24:49
2538084,2,2025-01-28 10:48:56,2025-01-29 15:08:34,1.0,0.00,1.0,N,207,146,2,...,0.0,0.00,1.0,4.50,0.0,0.00,0.00,1699.633333,2025-01-29 15:08:34,2025-01-28 10:48:56
1404958,2,2025-01-16 12:23:14,2025-01-17 14:41:56,1.0,255.33,4.0,N,161,265,2,...,0.0,54.06,1.0,2506.71,0.0,0.00,0.75,1578.700000,2025-01-17 14:41:56,2025-01-16 12:23:14
2548395,2,2025-01-28 12:59:43,2025-01-29 15:05:02,1.0,0.46,1.0,N,163,237,2,...,0.0,0.00,1.0,11.25,2.5,0.00,0.75,1565.316667,2025-01-29 15:05:02,2025-01-28 12:59:43
450646,2,2025-01-06 15:27:49,2025-01-07 16:59:37,1.0,26.36,2.0,N,132,193,2,...,0.0,0.00,1.0,71.50,0.0,0.00,0.00,1531.800000,2025-01-07 16:59:37,2025-01-06 15:27:49
1832540,2,2025-01-21 05:22:58,2025-01-22 05:49:40,1.0,0.44,1.0,N,226,226,2,...,0.0,0.00,-1.0,-37.70,0.0,0.00,0.00,1466.700000,2025-01-22 05:49:40,2025-01-21 05:22:58
1832541,2,2025-01-21 05:22:58,2025-01-22 05:49:40,1.0,0.44,1.0,N,226,226,2,...,0.0,0.00,1.0,37.70,0.0,0.00,0.00,1466.700000,2025-01-22 05:49:40,2025-01-21 05:22:58